<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHkQgj6cJCRAXIcyZU913l17j3qTA8UGU</string>
	<key>GCM_SENDER_ID</key>
	<string>324979673403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odglao.odgcashvan</string>
	<key>PROJECT_ID</key>
	<string>vansale-3be8d</string>
	<key>STORAGE_BUCKET</key>
	<string>vansale-3be8d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324979673403:ios:6cb9e141fab24513a88f1e</string>
</dict>
</plist>